@font-face {
    font-family: 'SpaceMono';
    src: url('../../assets/fonts/SpaceMono/SpaceMono-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SpaceMono';
    font-weight: 700;
    src: url('../../assets/fonts/SpaceMono/SpaceMono-Bold.ttf') format('truetype');
    font-display: swap;
}