@import './styles/global.scss';

body {
  background-color: #f3f3f3;
}

input {
  width: 125px;
  text-align: center;
  border-color:  rgba(103,66,212,1);
  border-radius: 5px;
  cursor: pointer;
}

.date-container {
  position: fixed;
  background-color: #FFFFFF;
  width: 100vw;
  top: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    top: 75px;
  }

  @include desktop {
    top: 100px;
  }
}

.date-label {
  font-weight: 700;
  margin-right: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 135px;

  @include tablet {
    margin-top: 175px;
  }

  @include desktop {
    margin-top: 225px;
  }
}

.to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 0 0.25em 0.25em rgba(103,66,212,0.5);

  &:hover {
    box-shadow: 0 0 0.25em 0.5em rgba(103,66,212,0.5);
  }

  &__arrow {
    height: 50px;
    transform: rotate(45deg);
  }
}