.card {
    background-color: #f9f9f9;
    width: 20vw;
    height: auto;
    margin: 25px;
    border-radius: 5px;

    &__image {
        width: 20vw;
        height: 20vw;
        border-radius: 5px;
        object-fit: cover;
    }

}